<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.mysql.MysqlMovieMapper">
    <select id="getMoviesCount" resultType="com.demo.pojo.MoviesCountResult">
        select count(*) as "productCount",
               count(distinct title) as "MovieCount"
        from Product
        <if test="!(getMovieDTO.language == null)">
            natural join LanguageOf
        </if>
        <if test="!(getMovieDTO.genre == null)">
            inner join Classify on (Classify.movie = Product.title)
        </if>
        <if test="!(getMovieDTO.format == null)">
            natural join Binding
        </if>
        <if test="!(getMovieDTO.director == null)">
            inner join Direct on (Direct.movie = Product.title)
        </if>
        <if test="!(getMovieDTO.actor == null)">
            inner join Act on (Act.movie = Product.title)
        </if>
        <where>
        <if test="!(getMovieDTO.title == null)">
            and title like CONCAT('%', #{getMovieDTO.title}, '%')
        </if>
        <if test="!(getMovieDTO.productId == null)">
            and productId like CONCAT('%', #{getMovieDTO.productId}, '%')
        </if>
        <if test="getMovieTypeDTO.rateType == 1">
            and rate &gt;= #{getMovieDTO.rate}
        </if>
        <if test="getMovieTypeDTO.rateType == 2">
            and rate = #{getMovieDTO.rate}
        </if>
        <if test="getMovieTypeDTO.rateType == 3">
            and rate &lt;= #{getMovieDTO.rate}
        </if>
        <if test="getMovieTypeDTO.runtimeType == 1">
            and runtime &gt;= #{getMovieDTO.runtime}
        </if>
        <if test="getMovieTypeDTO.runtimeType == 2">
            and runtime = #{getMovieDTO.runtime}
        </if>
        <if test="getMovieTypeDTO.runtimeType == 3">
            and runtime &lt;= #{getMovieDTO.runtime}
        </if>
        <if test="getMovieTypeDTO.releaseYearType == 1">
            and release_year &gt;= #{getMovieDTO.releaseYear}
        </if>
        <if test="getMovieTypeDTO.releaseYearType == 2">
            and release_year = #{getMovieDTO.releaseYear}
        </if>
        <if test="getMovieTypeDTO.releaseYearType == 3">
            and release_year &lt;= #{getMovieDTO.releaseYear}
        </if>
        <if test="getMovieTypeDTO.releaseMonthType == 1">
            and release_month &gt;= #{getMovieDTO.releaseMonth}
        </if>
        <if test="getMovieTypeDTO.releaseMonthType == 2">
            and release_month = #{getMovieDTO.releaseMonth}
        </if>
        <if test="getMovieTypeDTO.releaseMonthType == 3">
            and release_month &lt;= #{getMovieDTO.releaseMonth}
        </if>
        <if test="getMovieTypeDTO.releaseDayType == 1">
            and release_day &gt;= #{getMovieDTO.releaseDay}
        </if>
        <if test="getMovieTypeDTO.releaseDayType == 2">
            and release_day = #{getMovieDTO.releaseDay}
        </if>
        <if test="getMovieTypeDTO.releaseDayType == 3">
            and release_day &lt;= #{getMovieDTO.releaseDay}
        </if>
        <if test="getMovieTypeDTO.releaseWeekdayType == 1">
            and release_weekday &gt;= #{getMovieDTO.releaseWeekday}
        </if>
        <if test="getMovieTypeDTO.releaseWeekdayType == 2">
            and release_weekday = #{getMovieDTO.releaseWeekday}
        </if>
        <if test="getMovieTypeDTO.releaseWeekdayType == 3">
            and release_weekday &lt;= #{getMovieDTO.releaseWeekday}
        </if>
        <if test="!(getMovieDTO.language == null)">
            and LanguageOf.language = #{getMovieDTO.language}
        </if>
        <if test="!(getMovieDTO.genre == null)">
            and Classify.genre = #{getMovieDTO.genre}
        </if>
        <if test="!(getMovieDTO.format == null)">
            and Binding.format = #{getMovieDTO.format}
        </if>
        <if test="!(getMovieDTO.director == null)">
            and Direct.director like CONCAT('%', #{getMovieDTO.director}, '%')
        </if>
        <if test="!(getMovieDTO.actor == null)">
            and Act.actor like CONCAT('%', #{getMovieDTO.actor}, '%')
        </if>
        </where>
    </select>

    <select id="getMovieList" resultType="com.demo.dto.ReturnMovieDTO">
        select title,
               productId,
               rate,
               runtime,
               release_year as "releaseYear",
               release_month as "releaseMonth",
               release_day as "releaseDay"
        from Product
        <if test="!(getMovieDTO.language == null)">
            natural join LanguageOf
        </if>
        <if test="!(getMovieDTO.genre == null)">
            inner join Classify on (Classify.movie = Product.title)
        </if>
        <if test="!(getMovieDTO.format == null)">
            natural join Binding
        </if>
        <if test="!(getMovieDTO.director == null)">
            inner join Direct on (Direct.movie = Product.title)
        </if>
        <if test="!(getMovieDTO.actor == null)">
            inner join Act on (Act.movie = Product.title)
        </if>
        <where>
            <if test="!(getMovieDTO.title == null)">
                and title like CONCAT('%', #{getMovieDTO.title}, '%')
            </if>
            <if test="!(getMovieDTO.productId == null)">
                and productId like CONCAT('%', #{getMovieDTO.productId}, '%')
            </if>
            <if test="getMovieTypeDTO.rateType == 1">
                and rate &gt;= #{getMovieDTO.rate}
            </if>
            <if test="getMovieTypeDTO.rateType == 2">
                and rate = #{getMovieDTO.rate}
            </if>
            <if test="getMovieTypeDTO.rateType == 3">
                and rate &lt;= #{getMovieDTO.rate}
            </if>
            <if test="getMovieTypeDTO.runtimeType == 1">
                and runtime &gt;= #{getMovieDTO.runtime}
            </if>
            <if test="getMovieTypeDTO.runtimeType == 2">
                and runtime = #{getMovieDTO.runtime}
            </if>
            <if test="getMovieTypeDTO.runtimeType == 3">
                and runtime &lt;= #{getMovieDTO.runtime}
            </if>
            <if test="getMovieTypeDTO.releaseYearType == 1">
                and release_year &gt;= #{getMovieDTO.releaseYear}
            </if>
            <if test="getMovieTypeDTO.releaseYearType == 2">
                and release_year = #{getMovieDTO.releaseYear}
            </if>
            <if test="getMovieTypeDTO.releaseYearType == 3">
                and release_year &lt;= #{getMovieDTO.releaseYear}
            </if>
            <if test="getMovieTypeDTO.releaseMonthType == 1">
                and release_month &gt;= #{getMovieDTO.releaseMonth}
            </if>
            <if test="getMovieTypeDTO.releaseMonthType == 2">
                and release_month = #{getMovieDTO.releaseMonth}
            </if>
            <if test="getMovieTypeDTO.releaseMonthType == 3">
                and release_month &lt;= #{getMovieDTO.releaseMonth}
            </if>
            <if test="getMovieTypeDTO.releaseDayType == 1">
                and release_day &gt;= #{getMovieDTO.releaseDay}
            </if>
            <if test="getMovieTypeDTO.releaseDayType == 2">
                and release_day = #{getMovieDTO.releaseDay}
            </if>
            <if test="getMovieTypeDTO.releaseDayType == 3">
                and release_day &lt;= #{getMovieDTO.releaseDay}
            </if>
            <if test="getMovieTypeDTO.releaseWeekdayType == 1">
                and release_weekday &gt;= #{getMovieDTO.releaseWeekday}
            </if>
            <if test="getMovieTypeDTO.releaseWeekdayType == 2">
                and release_weekday = #{getMovieDTO.releaseWeekday}
            </if>
            <if test="getMovieTypeDTO.releaseWeekdayType == 3">
                and release_weekday &lt;= #{getMovieDTO.releaseWeekday}
            </if>
            <if test="!(getMovieDTO.language == null)">
                and LanguageOf.language = #{getMovieDTO.language}
            </if>
            <if test="!(getMovieDTO.genre == null)">
                and Classify.genre = #{getMovieDTO.genre}
            </if>
            <if test="!(getMovieDTO.format == null)">
                and Binding.format = #{getMovieDTO.format}
            </if>
            <if test="!(getMovieDTO.director == null)">
                and Direct.director like CONCAT('%', #{getMovieDTO.director}, '%')
            </if>
            <if test="!(getMovieDTO.actor == null)">
                and Act.actor like CONCAT('%', #{getMovieDTO.actor}, '%')
            </if>
        </where>
        limit #{startPos}, #{listSize}
    </select>

    <select id="getReviewList" resultType="com.demo.dto.ReturnReviewDTO">
        select productId as "productId",
               profileName as "profileName",
               helpfulness as "helpfulness",
               summary as "summary"
        from Review
        where productId = #{productId}
    </select>
</mapper>
